h1 {
  color: #0FBBD9;
  font-size: 128px;
}
h2 {
  color: #007744;
  font-size: 64px;
  font: georgia;
}
h3 {
  color: #BB3365;
  font-size: 48px;
  font: calibri;
}
p{
	font-size: 30px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	text-decoration: underline wavy blue;
}