body {
  font-family: "Roboto";
  background-color: lightgrey;
}
#footer {
  background-color: #C81C2C;
  position: absolute; left:0; top: 1800px;
  height: 20px;
  width: 1318px;
  text-align: center;
  font-size: 8px;
  z-index: 5;
}
#header {
  position:absolute; left: 0; top: 100px;
  background-color: lightblue;
  text-align: center;
  color: #0080CC;
  width: 1308px;
  margin-left: 0;
  border: 5px solid blue;
  height: 85px;
}

#Website {
  position: absolute; left: 100px; top: 1150px;
  width: 454px;
  height: 500px;
  background-image: linear-gradient(#ADD8E6, #7994A2);
  border: 5px solid lightgreen;
  text-align: center;
  font-size: 16px;
}
#introduction {
  background-image: linear-gradient(#ADD8E6, #7994A2 );
  height: 300px;
  width: 450px;
  border: 5px solid lightgreen;
  position: absolute; left: 150px; top: 350px;
  text-align: center;
}
#Project1 {
  background-image: linear-gradient(#ADD8E6, #7994A2 );
  height: 300px;
  width: 450px;
  border: 5px solid lightgreen;
  position: absolute; left: 650px; top: 350px;
  text-align: center;
}
